.cloud-computing-image{
    position: relative;
    width: 90vw;
    height: auto;
}

@media screen and (min-width: 500px){
    .cloud-computing-image{
        width: 35vw;
        height: 60vh;
    }

    .cloud-computing-sec-tickmark{
        width: 8mm;
        height: 6mm;
    }
}

