

/* .mobile-web-container{
    border-style: solid;
    border-color: red;
}

.mobile-web-image-container{
    border-style: solid;
    border-color: blue;
}

.mobile-web-description-container{
    border-style: solid;
    border-color: blue;
} */
